@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

/* --dark-blue: #2b3945;
  --very-dark-blue-dark: #202c37;
  --very-dark-blue-light: #111517;
  --dark-gray: #858585;
  --very-light-gray: #fafafa;
  --white: #ffffff; */
:root {
  --header-text: #111517;
  --secondary-background: #ffffff;
  --primary-background: #fafafa;
  --placeholder-text: #c4c4c4;
  --primary-text: #111517;
}

[data-theme="dark"] {
  --header-text: #ffffff;
  --secondary-background: #2b3844;
  --primary-background: #202c36;
  --placeholder-text: #ffffff;
  --primary-text: #ffffff;
}

/* [data-theme="light"] {
  --header-text: #111517;
  --secondary-background: #ffffff;
  --primary-background: #fafafa;
  --placeholder-text: #c4c4c4;
  --primary-text: #111517;
} */

*,
*:after,
*:before {
  box-sizing: border-box;
}

.nunito-font-300 {
  font-family: "Nunito Sans";
  font-weight: 300;
}

.nunito-font-600 {
  font-family: "Nunito Sans";
  font-weight: 600;
}

.nunito-font-800 {
  font-family: "Nunito Sans";
  font-weight: 800;
}

/* body {
  margin: 0;
  padding: 0;
} */

/* body * {
  transition: all 1s ease-in-out;
} */

.app {
  max-width: 23.4375rem;
  /* height: 100dvh; */
  display: block;
  margin: 0 auto;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

/* Header.tsx component */
/* ------------------------------------------------- */
h1 {
  padding: 0 1rem 0 1rem;
  font-size: 0.875rem;
}

.upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text);
  padding-inline: 1rem;
  height: 5rem;
  background-color: var(--secondary-background);
}
.darkMode {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.dark-btn {
  background-color: var(--secondary-background);
  color: var(--header-text);
  border: none;
}

/* .lower-header {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
} */

/* Search.tsx component */
/* ------------------------------------------------- */
.search-area {
  /* display: flex; */
  position: relative;
  padding: 1.5rem 0.75rem 2.5rem 0.75rem;
}
.search-icon {
  position: absolute;
  top: 2.5rem;
  bottom: 1rem;
  left: 2rem;
  color: var(--placeholder-text);
}
#search {
  height: 3rem;
  padding: 0.875rem 8.5rem 0.875rem 4rem;
  border: 0;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  background-color: var(--secondary-background);
  color: var(--primary-text);
}
::placeholder {
  color: var(--placeholder-text);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-failed {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 23.125rem);
}

.search-failed-text {
  color: #a03525;
  font-weight: 700;
  padding: 4rem 1rem;
  background-color: aliceblue;
  border-radius: 2rem;
  opacity: 70%;
}

.go-back {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--secondary-background);
}

/* Filter.tsx component */
/* ------------------------------------------------- */
.select-filter {
  width: 12.5rem;
  height: 3rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  padding-left: 1.5rem;
  margin-left: 1rem;
}

/* Card.tsx component */
/* ------------------------------------------------- */
.card {
  margin-block: 0.75rem;
  max-width: 16.5rem;
  display: block;
  margin: 0 auto;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  border-radius: 0.5rem;
}
.cardClass {
  display: block;
  margin: 0 auto;
  /* flex-direction: column; */
  /* align-items: center; */
  margin: 2.5rem auto;
}
.cardClass img {
  width: 16.5rem;
  height: 10rem;
  border-radius: 0.25rem;
}
.card-text {
  margin-left: 1.5rem;
  padding-bottom: 2.875rem;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  /* justify-items: center; */
  /* text-align: center; */
}

.details {
  display: block;
  margin: 0 auto;
  max-width: 23.4375rem;
}

.details-section {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.75rem 3.875rem;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

.details img {
  max-width: 20rem;
  display: block;
  margin: 0 auto;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 2.5rem 0 4rem;
  width: 6.5rem;
  height: 2rem;
  background-color: var(--secondary-background);
}

.details-item {
  font-family: nu;
}

.detail-mid {
  margin-block: 2rem;
}

.detail-border {
  display: flex;
  flex-direction: column;
}

.border-countries {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* padding-inline: 1rem; */
  color: var(--primary-text);
}

a:-webkit-any-link {
  color: var(--primary-text);
  cursor: pointer;
  text-decoration: none;
  /* margin-left: 0.5rem; */
}

.border-links {
  display: flex;
  padding: 0 0.75rem;
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--secondary-background);
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
}

/* .home-page {} */

.loading {
  height: calc(100dvh - 16rem);
  /* min-height: 100vh; */
  /* width: 100%; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically adjustment */
  text-align: center;
  align-items: center; /* horizontally adjustment */
  font-size: x-large;
}

.loading div {
  background-color: var(--secondary-background);
  padding: 6rem 4.5rem;
  border-radius: 1rem;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading;
}

.skeleton-card {
  width: 100%;
  height: calc(100dvh - 12rem);
  border-radius: 0.25rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
